# ======================
# Maven
# ======================
/target/

# ======================
# Environment
# ======================
.env

# ======================
# Compiled files
# ======================
*.class
*.log

# ======================
# Package files
# ======================
*.jar
*.war
*.nar
*.ear

# ======================
# IDE
# ======================
.idea/
*.iml

# ======================
# OS
# ======================
.DS_Store